<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MyApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>A contact list</h1>
        <input type="text" name="contact" ng-model="contact"/><br>
        <!--<span ng-if="{{contact == 'spin'}}">{{contact}}</span>-->
        <ul ng-repeat="c in ctrl.contacts| filter: contact">
            <li>
                <a ui-sref="app.detail({name: c})">{{c| capitalize}}</a>
            </li>
        </ul>
    </body>
</html>
